In [10]:
from datasets import load_dataset

ds = load_dataset("WutYee/HarryPotter_books_1to7")

In [14]:
ds['train']

Dataset({
    features: ['text'],
    num_rows: 81349
})

In [22]:
import pandas as pd

ds_train = pd.DataFrame(ds['train'])
ds_train.to_csv('ds_train.csv', index=False, encoding='utf-8')
ds_val = pd.DataFrame(ds['validation'])
ds_val.to_csv('ds_val.csv', index=False, encoding='utf-8')
ds_test = pd.DataFrame(ds['test'])
ds_test.to_csv('ds_test.csv', index=False, encoding='utf-8')

In [15]:
ds_train.shape

(81349, 1)

In [ ]:
ds_train.loc[36]

text    pretended she didnâ€™t have a sister, because he...
Name: 36, dtype: object

In [5]:
import pandas as pd

df = pd.read_csv("qna_data/raw_data.csv")
df.head()

,question,answer,text
0,What are the three European wizarding schools ...,"Hogwarts, Beauxbatons, and Durmstrang.",<s>[INST] What are the three European wizardin...
1,When was Hogwarts founded?,10th century,<s>[INST] When was Hogwarts founded? [/INST] 1...
2,What is a Wronski Feint?,Pretending to dive for the Snitch,<s>[INST] What is a Wronski Feint? [/INST] Pre...
3,You wouldn't know anything about this. Name a ...,Using polish,<s>[INST] You wouldn't know anything about thi...
4,Harry first took the Knight Bus in The Prisone...,14 sickles.,<s>[INST] Harry first took the Knight Bus in T...

In [6]:
df.drop(columns=['text'],inplace=True)
df.head()

,question,answer
0,What are the three European wizarding schools ...,"Hogwarts, Beauxbatons, and Durmstrang."
1,When was Hogwarts founded?,10th century
2,What is a Wronski Feint?,Pretending to dive for the Snitch
3,You wouldn't know anything about this. Name a ...,Using polish
4,Harry first took the Knight Bus in The Prisone...,14 sickles.

In [10]:
df.rename(columns={'question': 'prompt','answer':'completion'},inplace=True)

In [13]:
df.head()

,prompt,completion
0,What are the three European wizarding schools ...,"Hogwarts, Beauxbatons, and Durmstrang."
1,When was Hogwarts founded?,10th century
2,What is a Wronski Feint?,Pretending to dive for the Snitch
3,You wouldn't know anything about this. Name a ...,Using polish
4,Harry first took the Knight Bus in The Prisone...,14 sickles.

In [23]:
from sklearn.model_selection import train_test_split

print(df.shape[0])
train, test = train_test_split(df, train_size=0.75, random_state=42) 

test, val = train_test_split(test, train_size=0.3, random_state=42) 

print(f"Train set size: {len(train)}")
print(f"Validation set size: {len(val)}")
print(f"Test set size: {len(test)}")
print(len(train)+len(test)+len(val))

1279
Train set size: 959
Validation set size: 224
Test set size: 96
1279

In [24]:
df.to_json('train.jsonl', orient='records', lines=True) 
df.to_json('val.jsonl', orient='records', lines=True) 
df.to_json('test.jsonl', orient='records', lines=True)

In [ ]:
import subprocess
from mlx_lm import load, generate

: